@using ResumeBuilder.Shared.Models;

<button class="section-selector @(Model.User.IsActive ? "active" : "inactive")"
@onclick="@OnUserPressed">
    Your Details
</button>

<button class="section-selector @(Model.Address.IsActive ? "active" : "inactive")"
@onclick="@OnAddressPressed">
    Address
</button>

<button class="section-selector @(Model.Skills.IsActive ? "active" : "inactive")"
@onclick="@OnSkillsPressed">
    Skills
</button>

<button class="section-selector @(Model.Experiences.IsActive ? "active" : "inactive")"
@onclick="@OnExperiencesPressed">
    Experience
</button>

<button class="section-selector @(Model.Education.IsActive ? "active" : "inactive")"
@onclick="@OnEducationPressed">
    Education
</button>

<button class="section-selector @(Model.Projects.IsActive ? "active" : "inactive")"
@onclick="@OnProjectsPressed">
    Projects
</button>

@code {
    [Parameter]
    public required ResumeInfoModel Model { get; set; }

    [Parameter]
    public required EventCallback OnUpdate { get; set; }

    private async void OnUserPressed()
    {
        Model.User.IsActive = !Model.User.IsActive;
        await OnUpdate.InvokeAsync();
    }

    private async void OnAddressPressed()
    {
        Model.Address.IsActive = !Model.Address.IsActive;
        await OnUpdate.InvokeAsync();
    }

    private async void OnExperiencesPressed()
    {
        Model.Experiences.IsActive = !Model.Experiences.IsActive;
        await OnUpdate.InvokeAsync();
    }

    private async void OnSkillsPressed()
    {
        Model.Skills.IsActive = !Model.Skills.IsActive;
        await OnUpdate.InvokeAsync();
    }

    private async void OnEducationPressed()
    {
        Model.Education.IsActive = !Model.Education.IsActive;
        await OnUpdate.InvokeAsync();
    }

    private async void OnProjectsPressed()
    {
        Model.Projects.IsActive = !Model.Projects.IsActive;
        await OnUpdate.InvokeAsync();
    }
}
